{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">TAREK-Online</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">All Products</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Brands
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for brand in brands %}
                        <a class="dropdown-item" href="{{ url_for('get_brand', id=brand.id) }}">{{ brand.name }}</a>
                        {% endfor %}
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for cat in categories %}
                        <a class="dropdown-item" href="{{ url_for('get_categories', id=cat.id) }}">{{ cat.name }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>

<div class="container">
    <div class="row">
        {% if brand %}
            {% for b in brand %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card mt-3 bg-light h-100 d-flex flex-column">
                    <img class="card-img-top mt-3" src="{{ url_for('static', filename='images/' + b.image_1) }}" style="height: 250px;" alt="Product Image">
                    <div class="card-body d-flex flex-column flex-grow-1">
                        {% if b.discount > 0 %}
                        <h5 class="text-danger position-absolute" style="text-shadow: 1px 1px 2px #000; transform: rotate(-15deg);">
                            Discount {{ b.discount }}%
                        </h5>
                        <span class="badge badge-danger position-absolute" style="top: 10px; right: 10px; font-size: 14px;">
                            {{ b.discount }}% OFF
                        </span>
                        {% endif %}

                        <p class="text-center mt-3">${{ b.price }}</p>
                        <h4 class="text-center">{{ b.name }}</h4>
                    </div>
                    <div class="card-footer d-flex justify-content-between mt-auto">
                        <a class="btn btn-info btn-sm" href="#">Details</a>
                        <a class="btn btn-danger btn-sm" href="#">Add to Cart</a>
                    </div>
                </div>
            </div>
        {% endfor %} 

        {%elif get_cat_pro%}
        {%for get_cat in get_cat_pro%}
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card mt-3 bg-light h-100 d-flex flex-column">
                <img class="card-img-top mt-3" src="{{ url_for('static', filename='images/' + get_cat.image_1) }}" style="height: 250px;" alt="Product Image">
                <div class="card-body d-flex flex-column flex-grow-1">
                    {% if get_cat.discount > 0 %}
                    <h5 class="text-danger position-absolute" style="text-shadow: 1px 1px 2px #000; transform: rotate(-15deg);">
                        Discount {{ get_cat.discount }}%
                    </h5>
                    <span class="badge badge-danger position-absolute" style="top: 10px; right: 10px; font-size: 14px;">
                        {{ get_cat.discount }}% OFF
                    </span>
                    {% endif %}

                    <p class="text-center mt-3">${{ get_cat.price }}</p>
                    <h4 class="text-center">{{ get_cat.name }}</h4>
                </div>
                <div class="card-footer d-flex justify-content-between mt-auto">
                    <a class="btn btn-info btn-sm" href="#">Details</a>
                    <a class="btn btn-danger btn-sm" href="#">Add to Cart</a>
                </div>
            </div>
        </div>


        {%endfor%}
        {% else %}
            {% for product in products %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card mt-3 bg-light h-100 d-flex flex-column">
                    <img class="card-img-top mt-3" src="{{ url_for('static', filename='images/' + product.image_1) }}" style="height: 250px;" alt="Product Image">
                    <div class="card-body d-flex flex-column flex-grow-1">
                        {% if product.discount > 0 %}
                        <h5 class="text-danger position-absolute" style="text-shadow: 1px 1px 2px #000; transform: rotate(-15deg);">
                            Discount {{ product.discount }}%
                        </h5>
                        <span class="badge badge-danger position-absolute" style="top: 10px; right: 10px; font-size: 14px;">
                            {{ product.discount }}% OFF
                        </span>
                        {% endif %}

                        <p class="text-center mt-3">${{ product.price }}</p>
                        <h4 class="text-center">{{ product.name }}</h4>
                    </div>
                    <div class="card-footer d-flex justify-content-between mt-auto">
                        <a class="btn btn-info btn-sm" href="#">Details</a>
                        <a class="btn btn-danger btn-sm" href="#">Add to Cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock content %}
