.container button {
    width: 130px;
    padding: 10px;
    border: none;
    background-color: aqua;
 }
 
.container button:hover{
    background-color: blanchedalmond;
}
.hero {
    background-image: url('/static/images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
}
