{% extends "layout_admin.html" %}
{% block content %}


{% include '_messages.html' %}
   
<div class="container">
    <h2 class="mt-4">All Customer Orders</h2>
    <table class="table table-bordered mt-3">
        <thead class="table-dark">
            <tr>
                <th>Order ID</th>
                <th>Customer ID</th>
                <th>Status</th>
                <th>Date Created</th>
                <th>View Details</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.customer_id }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.date_created.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>
                    <a href="{{ url_for('view_order', order_id=order.id) }}" class="btn btn-primary btn-sm">
                        View Order
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

